/* GENERALES */

body {
	/*background: #F4F4F4;*/
}

.bottom30 {
	margin-bottom: 30px;
}

.desactivado {
	color: #c1c1c1;
}

table tbody>tr>td.vert-align {
    vertical-align: middle;
}

.mano {
	cursor: pointer;
}

.radio_line label {
	margin-right: 10px;
}

textarea {
    resize: none;
	max-height: 150px; /* optional, but recommended */
  	min-height: 31px;
	overflow-x: hidden; /* for Firefox (issue #5) */
}

.vcenter {
	display : table-cell !important;
	vertical-align : middle !important;
	float:none !important;
}

.editar, .eliminar, .pointer {
	cursor: pointer;
}

.oculto {
	display: none;
}

.rojo {
	color: red;
}

/* -------------------------------------- */

/* INICIAR SESION */

#login {
	width: 100%;
	max-width: 300px;
	position: absolute;
	left: 50%;
	top: 45%;
	margin-top: -135px;
	margin-left: -150px;
}

/* -------------------------------------- */

/* PAGINATION */

/*#listar #tabla tbody tr:hover {cursor: pointer; background: #EAF2F7 !important;}*/
#lista_info {padding-top: 7px;}
.dataTables_paginate {padding: 0 !important; margin: 0 !important; width: 100%;}
.dataTables_paginate ul {margin: 0 !important; float: right;}

@media (max-width: 991px) {
	#lista_info {text-align: center; margin-bottom: 5px;}
	.dataTables_paginate {width: 100%; margin: 0 auto !important; text-align: center;}
	.dataTables_paginate ul {float: none;}
}

/*.infotr {
	margin-left: 0px;
	width: 100% !important;
	max-width: 1080px !important;
	position: absolute !important;
}*/

/* -------------------------------------- */

/* CLIENTES */

#perfil {
	margin-bottom: 10px !important;
}

/* -------------------------------------- */

/* DEPARTAMENTOS */

.btn_departamentos {
	padding-top: 25px;
}

#depart {
	padding: 15px;
}

#nuevo_editar {
	margin-bottom: 20px;
}

/* -------------------------------------- */

/* DATETABLES */

#btns .input-group {
	margin-bottom: 10px !important;
}

#listar table tbody tr {
	
}

.fila_tabla {
	background-color: #E8F0F7 !important;
	cursor: pointer !important;
}

.fila_color {
	background-color: #E8F0F7 !important;
}

.table-responsive tbody {
    width: 100% !important;
}

/* -------------------------------------- */

/* MANTENIMIENTOS */

#map-canvas {
	width: 100%;
	height: 300px;
	margin: 20px 0 20px 0;
}

#man_buscar {
	cursor: pointer;
}

#historico table .fa {
	margin: 0 5px 0 5px;
}

#historico .contenido {
  margin-bottom: 35px !important;
}

/* -------------------------------------- */

/* INSPECCIONES */

#opciones .opts_pregunta, #opciones .opts_respuesta {
	cursor: pointer;
}

#opciones .preguntas {
	margin-bottom: 20px;
}

#opciones .box-header input {
	margin: 0 0 10px 10px;
}

#opciones .box-header label {
	margin: 10px 0 0 10px;
}

#opciones .box-header .text-danger {
	margin: 0 0 0 10px;
}

/* -------------------------------------- */

/* TRABAJOS */

#trabajos #empleados, #trabajos #inspecciones {
	height: 108px;
}

#map-trabajos {
	width: 100%;
}

#mant-trab {
	overflow: auto;
	max-height: 370px;
	margin-bottom: 20px;
}

#mant-trab .callout {
	margin: 0 !important;
	cursor: pointer;
}

#mant-trab .callout:hover {
	background: #e2ecf4;
}

#mant-trab .active {
	font-weight: bold;
	background: #a2c584 !important;
}

#mant-trab .active:hover {
	background: #A9C98D !important;
}

#ver_trabajo #mapa_ver_trabajos {
	width: 100%;
	height: 370px;
}

#ver_trabajo #mantenimientos .callout {
	margin: 0 !important;
	cursor: pointer;
}

#ver_trabajo #mantenimientos .callout:hover {
	background: #e2ecf4;
}

#ver_trabajo #mantenimientos .active {
	font-weight: bold;
	background: #a2c584 !important;
}

#ver_trabajo #mantenimientos {
	overflow: auto;
	max-height: 299px;
}

#ver_trabajo .fot {
	padding: 0 30px 0 30px;
}

#ver_trabajo .fot img {
	margin-bottom: 10px;
	max-width: 100%;
	max-height: auto;
	height: 100px;
	width: auto;
}

#ver_trabajo #btn_direcc {
	cursor: pointer;
}

#ver_trabajo .box-body input {
	/*margin: 0 5px 0 15px;
	position: relative;
	top: 3px;*/
}

#ver_trabajo .row textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 100px;
	padding: 5px;
}

#ver_trabajo .row .fancybox {
	margin: 3px;
}

#ver_trabajo .box-solid {
	background: #F4F4F4;
}

#load_map {
position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -64px;
}

/* CARRITO */

#observaciones_proveedor, #observaciones_empresa {
	max-height: 100px;
	min-height: 100px;
	min-width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

#carrito_mantenimientos {
	margin-bottom: 20px;
}

/* PRODUCTOS */

#datos_producto #imagenes img {
	max-height: 150px;
	width: auto;
	margin: 10px;
}

#datos_producto #documentos {
	margin-top: 10px;
}

#datos_producto .product_caracteristica {
	width: 100%;
	max-width: 360px;
	float: left;
	margin: 10px;
}

#datos_producto .product_caracteristica span {
	cursor: pointer;
}

.opc_product_list {
	margin-right: 10px;
}

.img_product_list {
	display: none;
}

/* -------------------------------------- */

/* PANE CLIENTES */

#historico_mant .titulo {
	font-weight: bold;
}

#historico_mant .timeline-header {
	font-weight: bold;
}

#historico_mant .fot_emple {
	text-align: center;
	margin-bottom: 10px;
}

#historico_mant .fot_emple img {
	max-width: 100%;
	max-height: auto;
	width: auto;
	height: 150px;
}

#historico_mant .fot_incid, #historico .fot_incid {
	text-align: center;
}

#historico_mant .fot_incid img, #historico .fot_incid img {
	max-width: 100%;
	max-height: auto;
	width: auto;
	height: 100px;
	margin-bottom: 10px;
}

#cliente_mant #mapa_mantenimientos_ver {
	height: 300px;
}

#cliente_mant #contadores h1 {
	font-weight: bold;
}

#cliente_mant #contadores #completados {
	color: #00A65A;
}

#cliente_mant #contadores #procesando {
	color: #F39C12;
}

#cliente_mant #contadores #pendientes {
	color: #F56954;
}

#cliente_mant .resp_left {
	float: left;
	margin-left: 15px;
}

#cliente_mant .timeline .active, #historico .timeline .active {
	color: #3C8DBC !important;
}

/* TALLER */
.atributos input, .atributos_cantidad input, .atributos_alto input, .atributos_longitud input, .atributos_ancho input, .atributos_descripcion input, .atributos_observaciones input, .atributos_reposicion input, .atributos_cantidad input {
    margin-top: 5px;
}

.atributos_cantidad, .atributos_enviar, .atributos_alto, .atributos_longitud, .atributos_ancho, .atributos_descripcion, .atributos_observaciones, .atributos_reposicion {
    margin-top: 39px;
}

.atributos_enviar div {
    margin-bottom: 5px;
}

.taller_compuesto {
    background-color: #F3F4F5;
}

/* INFORMES */
#informes table {
	width: 100% !important;
}

tr.group,
tr.group:hover,
tr.group td,
tr.group:hover td {
	cursor: pointer;
    background-color: #3c8dbc !important;
	color: #FFF !important;
	font-weight: bold !important;
}

.expandedOrCollapsedGroup{
	display: none;
}

#autorizacion{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#form_autorizacion{
	width: 50%;
}